

<mat-card class="example-card">

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="login-container" [formGroup] ="loginForm" >
        <mat-form-field class="Login-form">
            <input matInput placeholder="Username" value="" formControlName = "username">
            <mat-error *ngIf="username.errors?.required">Username is Required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName = "password">
            <mat-error *ngIf="password.errors?.required">Password is Required</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>`
    </form>

    <mat-card-actions>
            <button mat-button (click) = "onSubmit()">Submit</button>
    </mat-card-actions>
</mat-card>
